@charset “utf-8”;

html {
	font-size: 16px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, b, strong {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
	line-height: 1.25;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.d_n {
	display: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.cursor {
	position: absolute;
	padding: 0.4rem 1.5rem 0.5rem 0.8rem;
	border: 1px solid #000;
	background: #fff;
  z-index: 3000;
  font-size: 0.8rem;
}

.bor {
	border: 1px solid #000;
}


/* ---------- header ----------	*/


/* ---------- index ----------	*/	

#index.main_container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #000;
	overflow: hidden;
}

#index #indexTxt {
	position: fixed;
	width: 100vw;
	font-size: 7rem;
	font-weight: 400;
	line-height: 0.9;
	padding: 1.2rem 1.6rem 1.2rem 1.8rem;
	mix-blend-mode: difference;
	color: #fff;
	z-index: 1000;
}

#index #indexTxt > h2 {
	text-align: right;
}

#index #indexTxt > a {
	display: inline-block;
	color: #fff;
}

#index #indexTxt > a:last-child {
	float: right;
	right: 1.6rem;
}

#index a, #index a:hover, #index a:visited, #index a:focus, #index a:active {
	color: #fff;
	line-height: 1;
}

#index a:hover, #index a:focus {
	border-bottom: 0.38rem solid #fff;
}

#index #indexBg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

#index #pageList {
	width: 80vw;
	margin: 0px auto;
	margin-top: 9.4rem;
	transform: skew(0deg, 0);
	-webkit-transform: skew(0deg, 0);
	-moz-transform: skew(0deg, 0);
	-ms-transform: skew(0deg, 0);
	animation: bgAni 20s infinite;
	-webkit-animation: bgAni 20s infinite;
	-moz-animation: bgAni 20s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	margin-left: 52.2%;
}

@keyframes bgAni {
	0% {
		transform: skew(0, 0);
		-webkit-transform: skew(0, 0);
		-moz-transform: skew(0, 0);
		-ms-transform: skew(0, 0);
	} 100% {
		transform: skew(360deg, 0);
		-webkit-transform: skew(360deg, 0);
		-moz-transform: skew(360deg, 0);
		-ms-transform: skew(360deg, 0);
	}
}

#index #pageList > li {
	position: relative;
  display: block;
  float: left;
  transform: skew(0, -4.1deg);
  -webkit-transform: skew(0, -4.1deg);
  -moz-transform: skew(0, -4.1deg);
  -ms-transform: skew(0, -4.1deg);
  width: 48.2rem;
  margin-left: -42.5rem;
}

#index #pageList #pageList01 {margin-top: 0rem;}
#index #pageList #pageList02 {margin-top: 11rem;}
#index #pageList #pageList03 {margin-top: 8rem;}
#index #pageList #pageList04 {margin-top: 4rem;}
#index #pageList #pageList05 {margin-top: 12rem;}
#index #pageList #pageList06 {margin-top: 8rem;}

#index #pageList > li:first-child {
	margin-left: 0;
}

#index #pageList > li img {
	width: 100%;
	height: auto;
}

#index #indexList > li {
	float: left;
}

#index #indexList > li > a {	
	margin-right: 1.5rem;
}

/* ---------- nav ---------- */	

.main_container .nav {
	font-size: 1.4rem;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	margin: 1rem;
	z-index: 1000;
}

.main_container .side {
	position: fixed;
	top: 50%;
	margin-top: -1.5rem;
}

.main_container .side.l {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	margin-left: -4.5rem;
}

.main_container.exp .side.l {
	margin-left: 0;
}

.main_container .side.r {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	margin-right: -4.5rem;
	right: 0;
}

.main_container.exp .side.r {
	margin-right: 0;
}

.main_container header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 4rem;
	z-index: 1000;
	background: #fff;
}

.main_container footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 4rem;
	text-align: center;
	z-index: 1000;
	background: #fff;
}

.main_container a {
	display: inline-block;
	color: #000;
}

.main_container a:hover, .main_container a:focus {
	border-bottom: 0.15rem solid #000;
}

/* ---------- about ---------- */	

#aboutTxt {
  width: 36vw;
  line-height: 1.35;
  margin: 0px auto;
  margin-top: 20vh;
	text-align: center;
}

/* ---------- exp common ---------- */	

.main_container.exp {
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

.prompt {
	position: relative;
	width: 100vw;
	background: #fff;
	height: 100vh;
	z-index: 900;
/*	display: none !important;*/
}

.prompt p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -54%);
	text-transform: uppercase;
	font-size: 2.2rem;
}

/* ---------- exp1 ---------- */	

#exp1 #contentList {
	background: #000;
	margin: 10rem 0;
}

#exp1 #contentList li {
	background: #fff;
	height: 5rem;
	line-height: 5rem;
	font-size: 3.2rem;
	text-align: center;
	color: #fff;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transition: transform 1s, color 1s;
}

#exp1 #contentList li:hover, #exp1 #contentList li:focus, #exp1 #contentList li.list_ani {
	color: #000;
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	-ms-transform: rotateX(360deg);
	-webkit-user-select: none;
	-webkit-touch-callout: none;  
}

/* ---------- exp2 ---------- */	

#exp2 {
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 2060px;
	margin: 0px auto;
	padding-top: 3rem;
}

#dragItem {
	padding: 1rem;
	padding-top: 2.8rem;
	padding-right: 3rem;
}

.drop_target {
	position: absolute;
	border: 1px solid #000;
	overflow: hidden;
	background: #fff;
	z-index: 10;
}

#exp2 .drop_target:hover, #exp2 .drop_target:focus {
	background: url(images/bg_exp.jpg);
	background-size: auto 100%;
	color: #fff;
	z-index: 40;
}

#exp2 .drop_target:hover .wrapper_title, #exp2 .drop_target:focus .wrapper_title {
	background: url(images/bg_exp.jpg);
	background-size: 100% auto;
	color: #fff;
	border-bottom: 1px solid #fff;
}

#wrapperP1 {
	top: 14.5%;
	left: 7.2%;
	width: 38rem;
	height: 27.8rem;
	line-height: 1.1;
	font-size: 4rem;
}

#wrapperP2 {
	top: 51.1%;
	left: 20.6%;
	width: 34rem;
	height: 21.8rem;
	font-size: 2.2rem;
	z-index: 20;
}

#wrapperP2 > p {
	margin-top: -7.6rem;
}

#wrapperP3 {
	top: 30%;
	left: 49.5%;
	width: 17.5rem;
	height: 32.1rem;
	font-size: 1.25rem;
}

#wrapperP3 > p {
	margin-top: -18.7rem;
	padding-right: 1rem;
}

#wrapperP4 {
	top: 20.5%;
	right: 7.2%;
	width: 31.5rem;
	height: 30rem;
	line-height: 1.1;
	font-size: 2.4rem;
}

#wrapperP4 > p {
	margin-top: -78.7rem;
	padding-right: 1.1rem;
}

.wrapper_title {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background: #fff;
}

.gt {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
  line-height: 2rem;
  font-size: 0.9rem;
  text-align: right;
  margin-top: -1px;
  padding-right: 0.9rem;
}

/* ---------- exp3 ---------- */

#exp3 {
	width: 100vw;
	margin: 0px auto;
	margin: 10rem 0;
}

#exp3 #contentList > div {
	width: 100%;
}

#exp3 #contentList > div > div {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  background: #fff;
  border: 1px solid #000;
  padding: 0.5rem 1.2rem;
  margin-bottom: 1rem;
  animation: moveAni 8s;
  -webkit-animation: moveAni 8s;
  -moz-animation: moveAni 8s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
}

#exp3 #contentList > div > div:hover, #exp3 #contentList > div > div:focus {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	background: url(images/bg_exp.jpg);
	background-size: auto 110%;
	color: #fff;
}

@keyframes moveAni {
	0%		{left: 0;}
	100%	{left: 100%;}
}

#exp3 #contentList .list1 { width: 100% }
#exp3 #contentList .list2 { width: 120% }
#exp3 #contentList .list3 { width: 110% }
#exp3 #contentList .list4 { width: 105% }
#exp3 #contentList .list5 { width: 118% }
#exp3 #contentList .list6 { width: 130% }
#exp3 #contentList .list7 { width: 103% }
#exp3 #contentList .list8 { width: 112% }
#exp3 #contentList .list9 { width: 106% }
#exp3 #contentList .list10 { width: 117% }
#exp3 #contentList .list11 { width: 128% }
#exp3 #contentList .list12 { width: 102% }
#exp3 #contentList .list13 { width: 111% }
#exp3 #contentList .list14 { width: 104% }
#exp3 #contentList .list15 { width: 101% }
#exp3 #contentList .list16 { width: 108% }
#exp3 #contentList .list17 { width: 122% }
#exp3 #contentList .list18 { width: 105% }
#exp3 #contentList .list19 { width: 120% }
#exp3 #contentList .list20 { width: 100% }
#exp3 #contentList .list21 { width: 102% }
#exp3 #contentList .list22 { width: 109% }
#exp3 #contentList .list23 { width: 118% }
#exp3 #contentList .list24 { width: 128% }
#exp3 #contentList .list25 { width: 110% }
#exp3 #contentList .list26 { width: 103% }


/* ---------- exp4 ---------- */

#exp4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  width: 80vw;
}
	
#exp4 #contentList {
	text-align: center;
}

#exp4 #contentList > li {
  display: inline;
  position: relative;
	border: 1px solid #000;
  padding: 1rem;
  margin: 2.2rem;
  font-size: 2.5rem;
  background: #fff;
  z-index: 1;
  transition: transform 1.5s, padding 1s;
}

#exp4 #contentList > li:hover, #exp4 #contentList > li:focus {
	padding: 1.2rem 1.8rem;
	font-size: 2.6rem;
	background: #000;
	color: #fff;
  z-index: 100;
  margin: 1rem;
}

/* ---------- exp5 ---------- */

#exp5 {
	padding: 1.5rem;
}

#exp5 > div {
	position: relative;
	font-size: 3.2rem;
	height: 120vh;
	text-align: center;
}

#exp5 > div > a.scroll {
	position: absolute;
	display: inline-block;
	font-size: 1.8rem;
	padding-left: 0.8rem;
	color: #999;
}

#exp5 > div > a:hover, #exp5 > div > a:focus {
	color: #000;
	border: none;
}

#list_item01 {
	margin-top: 43vh;
}

/* ---------- exp6 ---------- */

#exp6 #contentList {
	margin: 10rem 0;
}

#exp6 #contentList li {
	font-size: 3.9em;
	height: 4.5rem;
	line-height: 1;
	text-align: center;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transition: transform 1s, color 1s;
	color:#e5e5e5;
}

#exp6 #contentList li:hover, #exp6 #contentList li:focus, #exp1 #contentList li.list_ani {
	color: #000;
	transform: rotateX(360deg); 
	-webkit-transform: rotateX(360deg); 
	-moz-transform: rotateX(360deg); 
	-ms-transform: rotateX(360deg); 
}



/* ---------- media query ---------- */

@media only screen and (max-width: 700px) {
  html {font-size:6px}
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  html {font-size:7px}
} 

@media only screen and (min-width: 801px) and (max-width: 900px) {
  html {font-size:8px}
} 

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  html {font-size:9px}
} 

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  html {font-size:10px}
} 

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  html {font-size:11px}
} 

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  html {font-size:12px}
} 

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  html {font-size:13px}
} 

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
  html {font-size:14px}
} 

@media only screen and (min-width: 1501px) and (max-width: 1600px) {
  html {font-size:14.5px}
} 

@media only screen and (min-width: 1601px) and (max-width: 1700px) {
  html {font-size:15px}
} 

@media only screen and (min-width: 1730px) {
  html {font-size:19px}
}


